<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - Curve Index</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    {% endblock %}
  </head>
  <body>
    <div id="header">
        <a href="https://www.isaicu.ca">&#8592; Back to main site</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <div class="footer-left"></div>
        <div class="footer-right">
            <p>
              {% block footer %}
              / created using Flask / <a href="https://www.isaicu.ca"> cisaicu</a> / Nov 2019 - Nov 2022 /
              {% endblock %}
            </p>
        </div>
    </div>
  </body>
</html>